header {
color:blue;
background-color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 14px;
size: 100px, 150px;
}

footer {
    color: blueviolet;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    size: 100px, 150px;
    position: flex;
}

body {
    background-color: aquamarine;
}